{% load mezzanine_tags %}

{% if page.slide_set.all %}

<header id="myCarousel1" class="carousel slide col-lg-8 ">
        <!-- Indicators -->
        <ol class="carousel-indicators">
        {% for image in page.slide_set.all %}
            <li data-target="#myCarousel1" data-slide-to="{{forloop.counter}}" class="{% if forloop.counter == 0 %}active{% endif %}"></li>
        {% endfor %}
        </ol>

        <!-- Wrapper for slides -->
        <div class="carousel-inner ">
        {% for image in page.slide_set.all %}
            <div class="item {% if forloop.counter == 1 %}active{% endif %}">
                <div class="fill" style="background-image:url('{{ MEDIA_URL }}{{ image.file }}');"></div>
                <div class="carousel-caption">
                    <h2>{{ image.caption }}</h2>
                </div>
            </div>            
        {% endfor %}
        </div>


        <!-- Controles -->
        <a class="left carousel-control" href="#myCarousel" data-slide="prev">
            <span class="icon-prev"></span>
        </a>
        <a class="right carousel-control" href="#myCarousel" data-slide="next">
            <span class="icon-next"></span>
        </a>
    </header>
{% endif %}
{% if page.slide2_set.all %}
     <header id="myCarousel2" class="carousel slide col-lg-4">
        <ol class="carousel-indicators">
        {% for image in page.slide2_set.all %}
            <li data-target="#myCarousel2" data-slide-to="{{forloop.counter}}" class="{% if forloop.counter == 0 %}active{% endif %}"></li>
        {% endfor %}
        </ol>

                <!-- Wrapper for slides -->
        <div class="carousel-inner ">
        {% for image in page.slide2_set.all %}
            <div class="item {% if forloop.counter == 1 %}active{% endif %}">
                <div class="fill" style="background-image:url('{{ MEDIA_URL }}{{ image.file }}');"></div>
                <div class="carousel-caption">
                    <h2>{{ image.caption }}</h2>
                </div>
            </div>            
        {% endfor %}
        </div>

        <!-- Controles -->
        <a class="left carousel-control" href="#myCarousel" data-slide="prev">
            <span class="icon-prev"></span>
        </a>
        <a class="right carousel-control" href="#myCarousel" data-slide="next">
            <span class="icon-next"></span>
        </a>
    </header>

{% endif %}


